.home_page {
  color: #fff;
}

.home_page_container {
  padding: 20px 100px;
  background-color: #141515;
}

.home_page_footer_container {
  padding: 20px 100px;
  background-color: #242524;
}

.home_page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_page_nav h1 {
  font-size: 26px;
}

.home_page_about {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  align-items: center;
}

.home_page_about h2 {
  font-size: 50px;
}

.home_page_about_info_name span {
  border-bottom: 2px solid #4ed697;
}

.home_page_about p {
  width: 300px;
  color: #acacac;
  margin: 0 0 50px;
}

.home_page_about_img {
  max-width: 518px;
  margin: 0 100px;
}

.home_page_about_img img {
  max-width: 518px;
  height: 350px;
  border-radius: 10%;
}

.home_page_contact {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 2px solid #4ed697;
}

.home_page_contact:hover {
  color: #4ed697;
  border-bottom: 2px solid white;
}

.home_page_skills {
  padding: 50px 0;
  border-top: 2px solid grey;
}

.home_page_skills_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 170px;
  grid-row-gap: 40px;
}

.home_page_skills_content p {
  color: #acacac;
}

.home_page_skills_content h4 {
  font-size: 26px;
}

.home_page_projects_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_page_projects_title h3 {
  font-size: 50px;
}

.home_page_projects_container {
  display: flex;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  padding: 50px 0px 150px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home_page_projects_content {
  width: 450px;
  margin: 0 20px 40px;
  padding-bottom: 20px;
  /* transition: all 1s; */
}

.home_page_projects_content img {
  width: 450px;
  height: 300px;
  border-radius: 32px;
}

.home_page_projects_content:hover {
  border-bottom: 2px solid #4ed697;
}

.home_page_projects_content h4 {
  font-size: 22px;
}

.home_page_projects_content p {
  font-size: 16px;
  color: #acacac;
}

.home_page_projects_view {
  display: flex;
  justify-content: space-between;
}

.home_page_contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 0 100px;
}

.home_page_contacts_heading h3 {
  font-size: 50px;
}

.home_page_contacts_heading p {
  width: 300px;
}

.home_page_contacts_info {
  display: flex;
  flex-direction: column;
}

.home_page_contacts_info a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.home_page_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 2px solid grey;
}

.home_page_footer h4 {
  font-size: 26px;
}

/* @media tablet 1230px */
@media (max-width: 1230px) {
  .home_page_projects_content {
    width: 300px;
    margin: 0 20px 40px;
  }
  .home_page_projects_content img {
    width: 300px;
    height: 250px;
  }
}

/* @media tablet 1137px */
@media (max-width: 1137px) {
  .home_page_about {
    justify-content: center;
    flex-flow: column-reverse;
    text-align: center;
  }

  .home_page_about p {
    margin: 0 auto 50px;
  }
}

/* @media mobile 930px */
@media (max-width: 930px) {
  .home_page_projects_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }

  .home_page_skills_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* @media mobile 815px */
@media (max-width: 815px) {
  .home_page_contacts {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
}

/* @media mobile 590px */
@media (max-width: 590px) {
  .home_page_container {
    padding: 20px 30px;
  }

  .home_page_nav {
    flex-direction: column;
  }

  .home_page_about_img img {
    max-width: 280px;
    height: 280px;
  }

  .home_page_projects_content {
    width: 250px;
  }

  .home_page_projects_content img {
    width: 250px;
    height: 250px;
  }

  .home_page_footer_container {
    padding: 20px 30px;
  }

  .home_page_footer {
    flex-direction: column;
  }
}
